build
cover.out
cover.html
local
.DS_Store
.vscode
.vagrant
dist
cosign.*
gpg.*
*.msi
*.exe
windows/*.zip
windows/**/wix.dynamic.json
windows/**/wix
windows/config.yaml
windows/logging.yaml
windows/LICENSE
windows/plugins
windows/build/
opentelemetry-java-contrib-jmx-metrics.jar
VERSION.txt
release_deps
/tmp
windows-archive

# OpAmp Files
collector*.yaml
manager*.yaml
logging*.yaml
config.yaml
storage

# Don't ignore the mdatagen generated config files
!**/internal/metadata/testdata/config.yaml

# For those of us switching between V1 and V2 branches
builder

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# Ignore GPG signing key, written to filesystem
# during release process. Can cause Goreleaser failure
# due to dirty git state.
ci-signing-key.asc

# Local performance testing and images
ImagesAzure/
perf-test/

# Local planning docs
**/MULTI_COLLECTOR_PLAN.md

# JetBrains IDE files
.idea/
