name: pr_checks
on:
  pull_request:

jobs:
  setup-tools:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Cache Tools
        id: tool-cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /home/runner/go/bin
      - name: Install Tools
        run: make install-tools

  check-fmt:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    needs:
      - setup-tools
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Cache Tools
        id: tool-cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /home/runner/go/bin
      - name: Install Tools
        run: make install-tools
      - name: Check Formatting
        run: make check-fmt

  check-license:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    needs:
      - setup-tools
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Cache Tools
        id: tool-cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /home/runner/go/bin
      - name: Install Tools
        run: make install-tools
      - name: Check License Headers
        run: make check-license

  gosec:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    needs:
      - setup-tools
    steps:
      - name: Checkout Source
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Cache Tools
        id: tool-cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /home/runner/go/bin
      - name: Install Tools
        run: make install-tools
      - name: Run Gosec Security Scanner
        run: make gosec

  misspell:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    needs:
      - setup-tools
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Cache Tools
        id: tool-cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /home/runner/go/bin
      - name: Install Tools
        run: make install-tools
      - name: Check for Misspelled Words in Doc Files
        run: make misspell

  lint:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    needs:
      - setup-tools
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Cache Tools
        id: tool-cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: /home/runner/go/bin
      - name: Install Tools
        run: make install-tools
      - name: Run Revive Linter
        run: make lint

  # Below checks don't need to run `make install-tools`
  check-plugin-docs:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          cache: false # Use Namespace caching instead
      - name: Set up Go cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Plugin Doc Generation
        run: make create-plugin-docs
      - name: Check Changed Plugin Docs
        uses: tj-actions/verify-changed-files@v17
        id: verify-changed-files
        with:
          files: |
            docs/plugins
      - name: Verify No Plugin Doc Changes
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: exit 1

  # Below checks don't need to run `make install-tools`
  check-mod-paths:
    if: github.actor != 'dependabot[bot]'
    runs-on: namespace-profile-bindplane-default-ubuntu-24-04
    steps:
      - name: Checkout Sources
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Check Module Paths
        run: make check-mod-paths
