# Build is responsible for testing builds on all supported platforms.
# It is broken up into three separate jobs with targeted builds so that each OS will
# build in parallel and speed up overall CI time.
name: Build
on:
  workflow_dispatch:

jobs:
  setup-tools:
    if: github.actor != 'dependabot[bot]'
    runs-on: nscloud-ubuntu-20.04-systemd-amd64-4x8
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true
      - name: Cache Tools
        id: tool-cache
        uses: actions/cache@v3
        with:
          path: /home/runner/go/bin
          key: tooling-${{ runner.os }}-${{ hashFiles('./internal/tools/go.sum') }}
      - name: Install Tools
        if: steps.tool-cache.outputs.cache-hit != 'true'
        run: make install-tools

  build_linux:
    if: github.actor != 'dependabot[bot]'
    runs-on: nscloud-ubuntu-24.04-systemd-amd64-4x8
    needs:
      - setup-tools
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          check-latest: true
          cache-dependency-path: |
            **/go.sum
      - name: Cache Tools
        id: tool-cache
        uses: actions/cache@v3
        with:
          path: /home/runner/go/bin
          key: tooling-${{ runner.os }}-${{ hashFiles('./internal/tools/go.sum') }}
      - name: Install Tools
        if: steps.tool-cache.outputs.cache-hit != 'true'
        run: make install-tools
      - name: Build
        run: make build-linux
      - name: Scan Third Party Dependency Licenses
        run: |
          go install github.com/uw-labs/lichen@v0.1.7
          lichen --config=./license.yaml $(find dist/collector_* dist/updater_*)

  build_darwin:
    if: github.actor != 'dependabot[bot]'
    runs-on: macos-14
    needs:
      - setup-tools
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          check-latest: true
          cache-dependency-path: |
            **/go.sum
      - name: Cache Tools
        id: tool-cache
        uses: actions/cache@v3
        with:
          path: /home/runner/go/bin
          key: tooling-${{ runner.os }}-${{ hashFiles('./internal/tools/go.sum') }}
      - name: Install Tools
        if: steps.tool-cache.outputs.cache-hit != 'true'
        run: make install-tools
      - name: Build
        run: make build-darwin
      - name: Scan Third Party Dependency Licenses
        run: |
          go install github.com/uw-labs/lichen@v0.1.7
          lichen --config=./license.yaml $(find dist/collector_* dist/updater_*)

  build_windows:
    if: github.actor != 'dependabot[bot]'
    runs-on: nscloud-ubuntu-24.04-systemd-amd64-4x8
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.6
          check-latest: true
          cache-dependency-path: |
            **/go.sum
      - name: Cache Tools
        id: tool-cache
        uses: actions/cache@v3
        with:
          path: /home/runner/go/bin
          key: tooling-${{ runner.os }}-${{ hashFiles('./internal/tools/go.sum') }}
      - name: Install Tools
        if: steps.tool-cache.outputs.cache-hit != 'true'
        run: make install-tools
      - name: Build
        run: make build-windows
      - name: Scan Third Party Dependency Licenses
        run: |
          go install github.com/uw-labs/lichen@v0.1.7
          lichen --config=./license.yaml dist/collector_windows_amd64.exe dist/updater_windows_amd64.exe
