name: Tests
on:
  pull_request:

jobs:
  unit-tests:
    if: github.actor != 'dependabot[bot]'
    strategy:
      fail-fast: false
      matrix:
        os: [namespace-profile-bindplane-default-ubuntu-24-04, namespace-profile-bindplane-default-macos-15, windows-2022-8-cores]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Sources (Linux)
        if: matrix.os == 'namespace-profile-bindplane-default-ubuntu-24-04'
        uses: namespacelabs/nscloud-checkout-action@v7
      - name: Checkout Sources (Non-Linux)
        if: matrix.os != 'namespace-profile-bindplane-default-ubuntu-24-04'
        uses: actions/checkout@v4
      - name: Setup Go (Linux)
        if: matrix.os == 'namespace-profile-bindplane-default-ubuntu-24-04'
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false # Use Namespace caching instead
      - name: Set up Go cache (Linux)
        if: matrix.os == 'namespace-profile-bindplane-default-ubuntu-24-04'
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          cache: go
      - name: Setup Go (Non-Linux)
        if: matrix.os != 'namespace-profile-bindplane-default-ubuntu-24-04'
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: |
            go.sum
            **/go.sum
      - name: Install Tools
        run: make install-tools
      - name: Run Tests
        run: make test
      - name: Run Updater Integration Tests (non-linux)
        if: matrix.os != 'namespace-profile-bindplane-default-ubuntu-24-04'
        run: make test-updater-integration
      - name: Run Updater Integration Tests (linux)
        if: matrix.os == 'namespace-profile-bindplane-default-ubuntu-24-04'
        run: sudo make test-updater-integration
